statemachine/content_processor.asl.json
{
  "Comment": "A state machine for processing feed data.",
  "StartAt": "Superfeedr Webhook",
  "States": {
    "Superfeedr Webhook": {
      "Type": "Task",
      "Resource": "${WebhookFunctionArn}",
      "Catch": [{
          "ErrorEquals": ["UnrecognizedRequestError"],
          "Next": "Unrecognized Request"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Catch All"
        }
      ],
      "Next": "Scrape All"
    },
    "Scrape All": {
      "Type": "Map",
      "InputPath": "$",
      "ItemsPath": "$.items",
      "MaxConcurrency": 0,
      "Iterator": {
        "StartAt": "Scrape Metadata",
        "States": {
          "Scrape Metadata": {
            "Type": "Task",
            "Resource": "${ScraperFunctionArn}",
            "End": true
          }
        }
      },
      "ResultPath": "$.items",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Catch All"
        }
      ],
      "End": true
    },
    "Unrecognized Request": {
      "Type": "Fail",
      "Error": "UnrecognizedRequest",
      "Cause": "The request body may not be of the correct format"
    },
    "Catch All": {
      "Type": "Fail",
      "Error": "An error of unknown type occurred",
      "Cause": "Unknown error!"
    }
  }
}
